<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="tpCrystalReportGestionCommand.Properties.Settings.gestionCommandConnectionString"
            connectionString="Data Source=.;Initial Catalog=gestionCommand;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tpCrystalReportGestionCommand.Properties.Settings.NorthWindConnectionString"
            connectionString="Data Source=.;Initial Catalog=NorthWind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>